[package]
name = "qrforge"
version = "0.1.6"
authors = ["Sam Schlinkert <sschlinkert@gmail.com>"]
edition = "2018"

[dependencies]
rpassword = "3.0.2"
qrcode = "0.11.0"
image = "0.22"
chrono = "0.4"
data-encoding = "2.1.1"
rust-crypto = "^0.2"
byteorder = "1"
quirc = "0.0.1"
structopt = "0.2"
