[package]
name = "qrencoder"
version = "0.1.3"
authors = ["sschlinkert <sam.schlinkert@turner.com>"]
edition = "2018"

[dependencies]
rpassword = "3.0.2"
qrcode = "0.10.0"
chrono = "0.4"
data-encoding = "2.1.1"
rust-crypto = "^0.2"
byteorder = "1"
image = "*"
# hex = "0.3.2"
# openssl = "0.10.10"
